<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/book/{id}(id=${bookToEdit.getBook_id()})}" th:object="${bookToEdit}">
    <label style="color:orange" for="name">Input new book name: </label>
    <input type="text" th:field="*{book_name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('book_name')}" th:errors="*{book_name}">error text</div>
    <br />
    <label style="color:orange" for="author">Input new author name: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">error text</div>
    <br />
    <label style="color:orange" for="release">Input new release date: </label>
    <input type="text" th:field="*{release_date}" id="release"/>
    <div style="color:red" th:if="${#fields.hasErrors('release_date')}" th:errors="*{release_date}">error text</div>
    <br />
    <input type="submit" value="Change!"/>
</form>
<button>
    <a th:href="@{/}">Вернуться на главную</a>
</button>
</body>
</html>