<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>All users</title>
</head>
<body>
<div style="text-align: center" th:each="person : ${allPerson}">
    <a th:href="@{/people/{id}(id=${person.getPerson_id()})}" th:text="${person.getPerson_name() + ', ' + person.getYear_birth()}">user</a>
    <hr/>
</div>
<br/>
<hr/>
<button>
    <a href="/people/add">Create new user!</a>
</button>
<button>
    <a th:href="@{/}">Вернуться на главную</a>
</button>
</body>
</html>