<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${userToAdd}">
    <label style="color:orange" for="name">Input name for new user: </label>
    <input type="text" th:field="*{person_name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('person_name')}" th:errors="*{person_name}">error text</div>
    <br />
    <label style="color:orange" for="age">Input year of birth: </label>
    <input type="text" th:field="*{year_birth}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('year_birth')}" th:errors="*{year_birth}">error text</div>
    <br />

    <input type="submit" value="Add user"/>
</form>
<button>
    <a th:href="@{/}">Вернуться на главную</a>
</button>
</body>
</html>